<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Prototype kit
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Page title goes here -->
      <h1>
        Medicines A-Z
      </h1>
      <h2>
        Prototypes
      </h2>
      <!-- End of page title -->

      <!-- Content goes here -->

            <div class="nhsuk-do-dont-list">
              <h3 class="nhsuk-do-dont-list__label">Pop-up video prototypes (version 3)</h3>
              

               <ul>
                <li><a href="version-3/lab-graphic-table-1">Infographic- table version 1 with video in section 5</a></li>
              </ul>
              <p>We found that some of the mums (at pop up 2) weren't sure what to expect when they first looked at the video so were wondering whether it might make it more obvious if we had the title at the top instead of underneath the video.</p>

            </div> 



            <div class="nhsuk-do-dont-list">
              <h3 class="nhsuk-do-dont-list__label">Pop-up video prototypes (version 2)</h3>

               <ul>
                <li><a href="version-2/lab-graphic-table-1">Infographic- table version 1 with video in section 5</a></li>
              </ul>

              <p>Chosen table route, updated copy. Testing new video showing how to use syringe.  </p>

            </div>  

            <div class="nhsuk-do-dont-list">
              <h3 class="nhsuk-do-dont-list__label">Lab prototypes</h3>
              <!--<p>
              <strong>Version 1 (pop-up testing):</strong>
              </p>
              <ol class="nhsuk-list nhsuk-list--number">
                <li>
                  <a href='/paracetamol-infographic-1'>Text v1</a>
                </li>
                <li>
                  <a href="/paracetamol-infographic-2">Spoons v1</a>
                </li>
                <li>
                  <a href="/paracetamol-infographic-3">Syringe v1</a>
                </li>
              </ol>-->

              <h3>
              Photo prototypes
              </h3>
              <p><strong>Photo A: Syringe on its own</strong></p>
              <ul>
                <li><a href="/lab-photo_a-table-1">Photo A - table version 1</a></li>
                <li><a href="/lab-photo_a-table-4">Photo A - table version 4</a></li>
              </ul>

              <p><strong>Photo B: Medicine being extracted from bottle with syringe </strong></p>
              <ul>
                <li><a href="/lab-photo_b-table-1">Photo B - table version 1</a></li>
                <li><a href="/lab-photo_b-table-4">Photo B - table version 4</a></li>
              </ul>
              <hr />

              <h3>
              Infographic prototypes
              </h3>
              <p><strong>Table 1</strong></p>
              <ul>
                <li><a href="/lab-graphic-table-1">Infographic- table version 1</a></li>
              </ul>

              <p><strong>Table 4</strong></p>
              <ul>
                <li><a href="/lab-graphic-table-4">Infographic- table version 4</a></li>
              </ul>

              <hr />

              <h3>
              Tablet only Infographic prototypes
              </h3>
              <p><strong>Table 1</strong></p>
              <ul>
                <li><a href="/lab-a-table-1">Tablet infographic- table version 1</a></li>
              </ul>

              <p><strong>Table 4</strong></p>
              <ul>
                <li><a href="/lab-b-table-4">Tablet infographic- table version 4</a></li>
              </ul>


            </div>



            <div class="nhsuk-do-dont-list">
              <h3 class="nhsuk-do-dont-list__label">111 Signposting</h3>
              <p>
              Version 1 (Pop-up testing):
              </p>
              <ol class="nhsuk-list nhsuk-list--number">
                <li>
                  <a href="/paracetamol-111-cards">111 care card options</a>
                </li>
              </ol>
</div>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
