{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK prototype Kit - Content page template
{% endblock %}

{% block beforeContent %}
    {{ breadcrumb({
      items: [
      ],
      href: "/level-one/level-two/level-three",
      text: "Medicines A - Z"
    }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1>Paracetamol for children</h1>

    </div>  

  </div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
      <aside role="complementary" class="medicines-page-contents">
          <h4 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">On this page</h4>
          <ol class="nhsuk-body-s nhsuk-u-margin-bottom-8">
            
              <li>About paracetamol for children</li>
              <li>Key facts</li>
              <li>Who can and can't take paracetamol</li>
              <li>How and when to give it</li>
              <li>Giving paracetamol with other painkillers</li>
              <li>Side effects in children</li>
              <li>Cautions with other medicines</li>
              <li>Common questions</li>
            
          </ol>
        </aside>

      <h2 class="o-section__header above" id="about-paracetamol-for-children">1. About paracetamol for children</h2>
        <p>
        Paracetamol is a common painkiller for children. It's often used to treat <a href="https://www.nhs.uk/conditions/headache">headaches</a>, <a href="https://www.nhs.uk/conditions/stomach-ache-abdominal-pain/">stomach ache</a>, <a href="https://www.nhs.uk/conditions/earache/">earache</a>, and <a href="https://www.nhs.uk/conditions/Cold-common/">cold symptoms</a>. It can also be used to bring down a high temperature (<a href="https://www.nhs.uk/conditions/fever-in-children/">fever</a>).
        </p>
        <p>
        For children aged 3 months to 12 years, paracetamol comes as a syrup.
        </p>
        <p>
        For children aged 6 years or older, paracetamol is available as tablets.
        </p>
        <p>
        Paracetamol is also available as suppositories - medicine that is pushed gently into the anus. Suppositories are useful to relieve pain and fever in children who find it difficult to swallow tablets or syrup, or who are being sick a lot.
        </p>
        <p>
        For teenagers aged 16 and over, read our information on <a href="https://www.nhs.uk/medicines/paracetamol-for-adults/">paracetamol for adults</a>.
        </p>

<!-- 2 -->
      <h2 class="o-section__header above" id="key-facts">2. Key facts</h2>  
        <ul>
          <li>Paracetamol comes in different strengths, including 2 strengths of syrup. The strength and dose depends on your child's age so always read the instructions carefully.</li>
          <li>Your child should start to feel better about 30 minutes after taking tablets or syrup. Suppositories can take up to 60 minutes to work properly.</li>
          <li>Do not give your child paracetamol with other medicines containing paracetamol, such as Lemsip or Night Nurse.</li>
          <li>Paracetamol is an everyday medicine, but it can be dangerous if your child takes too much. Be careful to keep it out of the reach of children.</li>
          <li>Paracetamol is known by many different brand names, including Disprol, Hedex, Medinol and Panadol. Paracetamol syrup is also known by the brand name Calpol.</li>
        </ul>

<!-- 3 -->
      <h2 class="o-section__header above" id="who-can-and-cant-take-paracetamol">3. Who can and can't take paracetamol</h2>
        <p>Children can take paracetamol as:</p>
          <ul>
            <li>a liquid syrup - from the age of 3 months</li>
            <li>suppositories - from the age of 3 months</li>
            <li>tablets (including soluble tablets) - from the age of 6 years</li>
            <li>Calpol Fast Melts - from the age of 6 years</li>
          </ul>


        <p>
        Children aged 2 to 3 months can have paracetamol syrup or suppositories if they have a high temperature after a vaccination.
        </p>

        <div class="nhsuk-warning-callout">
          <h3 class="nhsuk-warning-callout__label">Important</h3>
          <p>Do not give paracetamol to babies younger than 2 months old.</p>
        </div>


        <p>Check with your doctor or pharmacist before giving your child paracetamol if they:</p>
          <ul>
            <li>are small for their age, as a lower dose may be better</li>
            <li>have had liver or kidney problems</li>
            <li>take medicine for <a href="https://www.nhs.uk/Conditions/Epilepsy/">epilepsy</a></li>
            <li>take medicine for <a href="https://www.nhs.uk/conditions/Tuberculosis/">tuberculosis (TB)</a></li>
            <li>take <a href="https://www.nhs.uk/medicines/warfarin/">warfarin</a> (a blood-thinning medicine)</li>
          </ul>







        <h2 class="o-section__header above" id="how-and-when-to-give-it">
        4. How and when to give it</h2> 
          <p>
          Paracetamol tablets, syrup and suppositories come in a range of strengths. Children need to take a lower dose than adults, depending on their age.
          </p>
          <p>
          If you're not sure how much to give, ask your pharmacist or doctor.
          </p>
          <p>
          Paracetamol tablets (including soluble tablets), syrup and suppositories are available on prescription and to buy from shops and pharmacies.  
          </p>


          <h3>
          Vaccinations at 2 to 3 months 
          </h3>
          <p>
          Your health visitor may tell you to bring paracetamol syrup with you to the appointment. In this case, you can give 1 dose at the same time as your child has their jabs.
          </p>
          <p>          
          Children aged 2 to 3 months can also have paracetamol syrup or suppositories if they have a high temperature after a vaccination.
          </p>
          <p>          
          You can give up to 2 doses of syrup (a dose is 2.5ml of infant syrup). Wait at least 4 hours between doses. If they still have a high temperature after 2 doses, contact your doctor or a pharmacist.
          </p>

      <h3>
      Syrup dosages for children
      </h3>
      <p>
      The syrup comes in 2 strengths - a low strength syrup for babies and younger children, and a stronger syrup from the age of 6 years. Check the label or the packaging to make sure you give your child the right one.
      </p>
      <p><strong>Infant syrup</strong> - 1 teaspoon contains 120mg of paracetamol</p>
      <p><strong>Six plus syrup</strong> - 1 teaspoon contains 250mg of paracetamol</p>



<!-- TABLE 4 Graphic SYRUP START -->
            
        <div class="nhsuk-table__panel-with-heading-tab nhsuk-u-margin-top-9">
            <h3 class="nhsuk-table__heading-tab">Paracetamol syrup</h3>
            <h4 class="nhsuk-u-margin-bottom-2">Infant syrup </h4>
            <div class="nhsuk-table-responsive">
              <table class="nhsuk-table nhsuk-u-margin-bottom-8">
                <caption class="nhsuk-table__caption">Paracetamol infant syrup dosages for children</caption>
                <thead class="nhsuk-table__head">
                  <tr class="nhsuk-table__row">
                    <th class="nhsuk-table__header" scope="col" style="vertical-align: top;">Age</th>
                    <th class="nhsuk-table__header" scope="col" style="vertical-align: top;">How much - up to 4 times in 24 hours</th>

                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">3 to 6 months</td>
                    <td class="nhsuk-table__cell " style="vertical-align: top;"><strong>2.5ml</strong><br />
                    <img src="/images/icon-syringe-250mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"> </td>

                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">6 to 24 months</td>
                    <td class="nhsuk-table__cell " style="vertical-align: top;"><strong>5ml</strong><br />
                    <img src="/images/icon-syringe-500mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"></td>

                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">2 to 4 years</td>
                    <td class="nhsuk-table__cell " style="vertical-align: top;"><strong>7.5ml</strong> (5ml + 2.5ml)<br />
                    <img src="/images/icon-syringe-500mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"><img src="/images/icon-syringe-250mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"></td>

                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">4 to 6 years</td>
                    <td class="nhsuk-table__cell " style="vertical-align: top;"><strong>10ml</strong> (5ml + 5ml)<br />
                    <img src="/images/icon-syringe-500mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"><img src="/images/icon-syringe-500mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"></td>

                  </tr>
                </tbody>
              </table>


            <h4 class="nhsuk-u-margin-bottom-2">Six Plus syrup</h4>
              <table class="nhsuk-table nhsuk-u-margin-bottom-8">
                <caption class="nhsuk-table__caption">Paracetamol Six Plus syrup dosages for children</caption>
                <thead class="nhsuk-table__head">
                  <tr class="nhsuk-table__row">
                    <th class="nhsuk-table__header" scope="col">Age</th>
                    <th class="nhsuk-table__header" scope="col" style="vertical-align: top;">How much - up to 4 times in 24 hours</th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">6 to 8 years</td>
                    <td class="nhsuk-table__cell " style="vertical-align: top;"><strong>5ml</strong><br />
                    <img src="/images/icon-syringe-500mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"></td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">8 to 10 years</td>
                    <td class="nhsuk-table__cell " style="vertical-align: top;"><strong>7.5ml</strong> (5ml + 2.5ml)<br />
                    <img src="/images/icon-syringe-500mg_v2.svg" class="nhsuk-u-margin-top-3 infographic">
                    <img src="/images/icon-syringe-250mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"></td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">10 to 12 years</td>
                    <td class="nhsuk-table__cell " style="vertical-align: top;"><strong>10ml</strong> (5ml + 5ml)<br />
                    <img src="/images/icon-syringe-500mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"><img src="/images/icon-syringe-500mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"></td>
                  </tr>
                </tbody>
              </table>

                  <div class="nhsuk-warning-callout nhsuk-u-margin-bottom-0">
                      <h3 class="nhsuk-warning-callout__label ">Maximum dosage</h3>
                      <p>Do not give your child more than 4 doses of paracetamol in 24 hours. Wait at least 4 hours between doses.</p>
                  </div>

            </div>
          </div>
<!-- TABLE 4 Graphic SYRUP END -->


    <h3>Tablet dosages for children</h3>
          <p>Tablets usually come as 500mg. For lower doses break up the tablet to give your child a smaller amount.</p>    


<!-- TABLE 4 graphic TABLET START -->
        
<div class="nhsuk-table__panel-with-heading-tab">
            <h3 class="nhsuk-table__heading-tab">Paracetamol tablets</h3>
            <div class="nhsuk-table-responsive">
              <table class="nhsuk-table nhsuk-u-margin-bottom-8">
                <caption class="nhsuk-table__caption">Paracetamol tablets</caption>
                <thead class="nhsuk-table__head">
                  <tr class="nhsuk-table__row">
                    <th class="nhsuk-table__header" scope="col" style="vertical-align: top;">Age</th>
                    <th class="nhsuk-table__header" scope="col" style="vertical-align: top;">How much - up to 4 times in 24 hours</th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">6 to 8 years</td>
                    <td class="nhsuk-table__cell ">
                      <strong>250mg</strong> (half a tablet)<br/>
                      <img src="/images/icon-tablet-250mg_v2.svg" class="nhsuk-u-margin-top-3 infographic2" style="width:120px;" >
                      </td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">8 to 10 years</td>
                    <td class="nhsuk-table__cell "><strong>375mg</strong> (three quarters of a tablet)<br/>
                    <img src="/images/icon-tablet-375mg_v2.svg" class="nhsuk-u-margin-top-3 infographic2" style="width:120px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">10 to 12 years</td>
                    <td class="nhsuk-table__cell "><strong>500mg</strong> (1 tablet)<br/>
                    <img src="/images/icon-tablet-500mg_v2.svg" class="nhsuk-u-margin-top-3 infographic2" style="width:120px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">12 to 16 years</td>
                    <td class="nhsuk-table__cell "><strong>750mg</strong> (1 and a half tablets)<br/>
                    <img src="/images/icon-tablet-750mg_v2.svg" class="nhsuk-u-margin-top-3 infographic2" style="width:120px;"></td>
                  </tr>
                </tbody>
              </table>



                  <div class="nhsuk-warning-callout nhsuk-u-margin-bottom-0">
                      <h3 class="nhsuk-warning-callout__label ">Maximum dosage</h3>
                      <p>Do not give your child more than 4 doses of paracetamol in 24 hours. Wait at least 4 hours between doses.</p>
                  </div>

            </div>
          </div>
<!-- TABLE 4 graphic TABLET END -->


          <h3 class="above">How often to give paracetamol</h3>  
            <p>Wait at least 4 hours between doses of paracetamol. Do not give your child more than 4 doses of paracetamol in 24 hours.</p>
            <p>If your child needs help with pain day and night for several days (usually up to 3 days), give a dose of paracetamol every 6 hours. This will help to relieve the pain safely without the risk of giving too much paracetamol.</p>
            <p>If your child has pain that comes and goes, give a dose of paracetamol when they first complain of pain. Wait at least 4 hours before giving another dose.</p>

          <h3 class="above">How to give paracetamol to a child</h3>  
          <p>Paracetamol can be taken with or without food.</p>
            <h4>Tablets</h4>
              <p>Tablets should be swallowed with a glass of water, milk, or juice. Tell your child not to chew the tablet.</p>
              <p>Soluble tablets should be dissolved in at least half a glass of water. Stir to make sure the tablet has dissolved completely and then give it to your child to drink.</p>
              <p>Calpol Fast Melts shouldn't be swallowed - ask your child to let the tablet dissolve on their tongue.</p>

           <h4>Syrup</h4>   
            <p>Shake the bottle well for at least 10 seconds and measure out the right amount using the plastic syringe or spoon that comes with the medicine. If you don't have a syringe or spoon, ask your pharmacist for one. Do not use a kitchen teaspoon as it will not give the right amount.</p>
            <p>If your child doesn't like the taste, you can give them a drink of milk or fruit juice straight after giving them the syrup.</p>

           <h4>Suppositories</h4> 
            <p>Paracetamol suppositories are medicine that you push gently into your child's anus.
            <p>Follow the instructions on the leaflet that comes with the medicine.</p>

           <h3 class="above">What if they take too much?</h3> 

<!--111 Care Card-->

                      <p>If you give your child 1 extra dose of paracetamol by mistake, wait at least 24 hours before giving them any more.</p>


              {{ careCard({
                "type": "urgent",
                "heading": "Get help from 111 now",
                "HTML": "<p>If your child takes more than 1 extra dose of paracetamol they may need treatment.</p>
                <p><strong>Online</strong><br /><a href='https://111.nhs.uk/?utm_source=nhsuk&amp;utm_campaign=conditions&amp;utm_content=hand_pain'>Go to 111.nhs.uk</a></p> <p><strong>Telephone</strong><br /><a href='tel:111'>Call 111</a></p><p>If you need to take your child to hospital, bring the paracetamol packaging or leaflet plus any remaining medicine with you.</p>
                
                "
              }) }}


         <h2 class="o-section__header above" id="giving-paracetamol-with-other-painkillers">5. Giving paracetamol with other painkillers</h2>  
         
            <p>Ibuprofen is the only safe painkiller to give children alongside paracetamol. However do not give paracetamol and ibuprofen at the same time. You need to give these medicines one at a time (unless your child’s doctor or nurse gives you different instructions).</p>

            <h3>For high temperature</h3>

            <p>If you've given your child paracetamol and they're still feverish when the next dose is due, you could try ibuprofen instead.</p>
            <p>If this helps bring down their temperature, carry on giving them ibuprofen (following the instructions that come with the medicine).</p>
            <p>Do not give more than the maximum daily dose of either medicine.</p> 
            <p>See your doctor if you've tried both paracetamol and ibuprofen and they haven't helped.</p>

            <h3>For pain</h3>
            <p>If you've given your child paracetamol and they're still in pain 2 hours later, you could try ibuprofen instead.</p> 
            <p>If this works, continue to alternate between paracetamol and ibuprofen, giving only one medicine at a time.</p> 
            <p>Do not give more than the maximum daily dose of either medicine.</p> 
            <p>See your doctor if you've tried alternating paracetamol and ibuprofen and they haven't helped. Also see your doctor if you don’t know what is causing your child’s pain.</p>

                  <div class="nhsuk-warning-callout">
                      <h3 class="nhsuk-warning-callout__label ">Important</h3>
                      <p>Do not give ibuprofen to your child if they have <a href="https://www.nhs.uk/conditions/asthma/">asthma</a>, unless your doctor has said it's ok. Do not give ibuprofen for <a href="https://www.nhs.uk/conditions/chickenpox/">chickenpox</a>.</p>
                      <p>Never give <a href="https://www.nhs.uk/medicines/aspirin-for-pain-relief/">aspirin</a> to a child under the age of 16, unless their doctor prescribes it.</p>
                  </div>

            <h3>Other medicines containing paracetamol</h3>
            <p>Do not give your child another medicine with paracetamol in it. If they take 2 different medicines that contain paracetamol, there's a risk of overdose.</p>
            <p>Paracetamol is an ingredient in lots of medicines that you can buy from the supermarket or pharmacy. These include Lemsip, and Day and Night Nurse capsules or liquid (only suitable for children over 12 years).</p>

        <h2 class="o-section__header above" id="side-effects">6. Side effects in children</h2>    
            <p>
            In rare cases, it's possible to have a serious allergic reaction (<a href="https://www.nhs.uk/conditions/Anaphylaxis/">anaphylaxis</a>) to paracetamol.
            </p>   

<!-- URGENT CARE CARD-->
          <div class="nhsuk-care-card nhsuk-care-card--urgent">
            <div class="nhsuk-care-card__heading-container">
              <h3 class="nhsuk-care-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Urgent advice: </span>Contact a doctor straight away if:</span></h3>
              <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
            </div>
            <div class="nhsuk-care-card__content">
              <ul>
                <li>your child has a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
                <li>they're wheezing</li>
                <li>they get tightness in the chest or throat</li>
                <li>they have trouble breathing or talking</li>
                <li>their mouth, face, lips, tongue or throat start swelling</li>
              </ul>
              <p>These are warning signs of a serious allergic reaction. A serious allergic reaction is an emergency.</p>
            </div>
          </div>


          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>You can report any suspected side effect to the <a href="https://yellowcard.mhra.gov.uk/" title="External website">UK safety scheme</a>.</p>
          </div>


  
        <h2 class="o-section__header above" id="how-and-when-to-give-it">
        7. Cautions with other medicines</h2> 


          <p>
          In general, paracetamol doesn't interfere with prescription medicines, including antibiotics.
          </p>
          <p>
          However, paracetamol isn't suitable for some children. Talk to your doctor if they take:
          </p>

          <ul>
            <li>medicine to treat epilepsy</li>
            <li>medicine to treat tuberculosis (TB)</li>
            <li>warfarin (a blood-thinning medicine)</li>
          </ul>

          <h3>
          Mixing paracetamol with herbal remedies and supplements
          </h3>

                  <div class="nhsuk-warning-callout">
                      <h3 class="nhsuk-warning-callout__label ">
                      Important
                      </h3>
                      <p>
                      Check with your doctor or pharmacist before giving any herbal remedies or supplements to your child.
                      </p>
                  </div>


        <h2 class="o-section__header above" id="how-and-when-to-give-it">
        8. Common questions</h2> 

        <div class="nhsuk-expander-group">
          {{ details({
            "classes": "nhsuk-expander",
            "text": "How does paracetamol work?",
            "HTML": "
            <p>
            Paracetamol seems to work by blocking &quot;chemical messengers&quot; in your child's brain that tell them that they have pain.
            </p>
            <p>
            Paracetamol also reduces a fever by affecting the chemical messengers in an area of the brain that regulates body temperature.
            </p>
            "
          }) }}
          {{ details({
            "classes": "nhsuk-expander",
            "text": "When will my child feel better?",
            "HTML": "
            <p>
            Paracetamol tablets and syrup take about 30 minutes to work. Suppositories take around 60 minutes to work.
            </p>
            <p>
            If your child's pain lasts for more than 3 days, or if they’re teething and paracetamol isn’t helping with their pain, see your doctor.
            </p>
            "
          }) }}
          {{ details({
            "classes": "nhsuk-expander",
            "text": "What if my child is sick (vomits)?",
            "HTML": "
            <p>
            If your child is sick (vomits) less than 30 minutes after having a dose of paracetamol tablets or syrup, give them the same dose again.
            </p>
            <p>
            If your child is sick more than 30 minutes after a dose of tablets or syrup, do not give them another dose. Wait until it's time for their next dose.
            </p>
            <p>
            If your child is finding it hard to keep tablets or syrup down, ask your doctor if paracetamol suppositories are an option. If your child is sick straight after having a suppository, you don't need to give them another dose as the suppository will still work.
            </p>
            "
          }) }}
          {{ details({
            "classes": "nhsuk-expander",
            "text": "Is paracetamol or ibuprofen better?",
            "HTML": "
            <p>
            Paracetamol and <a href='https://beta.nhs.uk/medicines/ibuprofen-for-children/'>ibuprofen</a> are similar strengths, but they work in different ways. So paracetamol is better for some types of pain than ibuprofen.
            </p>
            <p>
            Paracetamol is usually best for most types of pain, including <a href='https://www.nhs.uk/conditions/headache/'>headache</a> and <a href='https://www.nhs.uk/conditions/stomach-ache-abdominal-pain/'>stomach ache</a>. It can also be used if your child has <a href='https://www.nhs.uk/conditions/chickenpox/'>chickenpox</a>.
            </p>
            <p>
            Ibuprofen is better for reducing inflammation (redness and swelling), including <a href='https://www.nhs.uk/conditions/pregnancy-and-baby/teething-and-tooth-care/'>teething</a> and <a href='https://www.nhs.uk/conditions/toothache/'>toothache</a>. Do not give your child ibuprofen if they have chickenpox.
            </p>
            "
          }) }}
          {{ details({
            "classes": "nhsuk-expander",
            "text": "Is there any food or drink they need to avoid?",
            "HTML": "
            <p>
            Your child can eat and drink normally while taking paracetamol.
            </p>
            <p>
            You can give your child paracetamol (but not <a href='https://beta.nhs.uk/medicines/ibuprofen-for-children/'>ibuprofen</a>) on an empty stomach.
            </p>
            "
          }) }}          
        </div>



        {{ panel({
          "label": "Related conditions",
          "HTML": "<ul>
          <li><a href='https://www.nhs.uk/conditions/earache/'>Earache</a></li>
          <li><a href='https://www.nhs.uk/conditions/headache/'>Headaches</a></li>
          <li><a href='https://www.nhs.uk/conditions/stomach-ache/'>Stomach ache</a></li>
        </ul>"
        }) }}

        {{ panel({
          "label": "Useful resources",
          "HTML": "<ul>
          <li><a href='https://www.nhs.uk/conditions/earache/'>Paracetamol: forums</a></li>
          <li><a href='https://www.nhs.uk/conditions/headache/'>Can I give my child painkillers?</a></li>
          <li><a href='https://www.nhs.uk/live-well/healthy-body/is-my-child-too-ill-for-school/'>Is my child too ill for school? </a></li>
        </ul>"
        }) }}






            
    </div>  

    <div class="nhsuk-grid-column-one-quarter">
    


    </div>
  </div>
{% endblock %}
