{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK prototype Kit - Content page template
{% endblock %}

{% block beforeContent %}
    {{ breadcrumb({
      items: [
      ],
      href: "/level-one/level-two/level-three",
      text: "Medicines A - Z"
    }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1>Paracetamol for children</h1>

    </div>  

  </div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
      <aside role="complementary" class="medicines-page-contents">
          <h4 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">On this page</h4>
          <ol class="nhsuk-body-s nhsuk-u-margin-bottom-8">
            
              <li>About paracetamol for children</li>
              <li>Key facts</li>
              <li>Who can and can't take paracetamol</li>
              <li>How and when to give it</li>
              <li>Giving paracetamol with other painkillers</li>
              <li>Side effects in children</li>
              <li>Common questions</li>
            
          </ol>
        </aside>

      <h2 class="o-section__header above" id="about-paracetamol-for-children">1. About paracetamol for children</h2>
        <p>Paracetamol is a common painkiller for children. It's used to treat most kinds of childhood ailments, including <a href="https://beta.nhs.uk/symptoms/headache">headache</a>, <a href="http://www.nhs.uk/conditions/stomach-ache-abdominal-pain/pages/introduction.aspx">tummy ache</a>, <a href="http://www.nhs.uk/conditions/earache/Pages/Introduction.aspx">earache</a>, and <a href="http://www.nhs.uk/conditions/Cold-common/Pages/Introduction.aspx">cold symptoms</a>. It can also be used to reduce <a href="http://www.nhs.uk/conditions/feverchildren/Pages/Introduction.aspx">fever</a> (38C or above).</p>
        <p>For older children, paracetamol is available as tablets.</p>
        <p>For young children, paracetamol comes as a syrup.</p>
        <p>Paracetamol is also available as suppositories (a plug of medicine that's inserted into the back passage). Suppositories are useful to relieve pain and fever in children who find it difficult to swallow tablets or syrup, or who are vomiting a lot.</p>
        <p>For children aged 16 and over, read our information on <a href="/medicines/paracetamol-for-adults">paracetamol for adults</a>.</p>

      <h2 class="o-section__header above" id="key-facts">2. Key facts</h2>  
        <ul>
          <li>Your child should start to feel better about 30 minutes after taking paracetamol tablets or syrup. It may take up to an hour for a suppository to work properly.</li>
          <li>Paracetamol comes in a range of different strengths, so always use the measuring device that comes with the medicine. The right dose for your child depends on their age. Always leave 4 to 6 hours between doses. Don't give more than 4 doses in 24 hours.</li>
          <li>Don't give your child paracetamol with other medicines containing paracetamol, such as Lemsip or Night Nurse (only suitable for children over 12 years).</li>
          <li>Paracetamol is an everyday medicine, but it can be dangerous if too much is taken. Be careful to keep it out of the reach of children.</li>
          <li>Paracetamol tablets may be called by brand names such as Disprol, Hedex, Medinol and Panadol. Calpol is one brand of syrup.</li>
        </ul>

      <h2 class="o-section__header above" id="who-can-and-cant-take-paracetamol">3. Who can and can't take paracetamol</h2>
        <p>Children can take paracetamol as:</p>
          <ul>
            <li>a liquid syrup - from the age of 3 months (2 months if they have a fever after a vaccination)</li>
            <li>suppository - from the age of 3 months (2 months if they have a fever after a vaccination)</li>
            <li>tablets - from the age of 6 years </li>
            <li>soluble tablets - from the age of 12</li>
            <li>calpol Fastmelts</li>
          </ul>
        <p>Check with your doctor or pharmacist if your child:</p>  
          <ul>
            <li>is small for their age as a lower dose may be better</li>
            <li>has had liver or kidney problems</li>
            <li>takes medicine for <a href="http://www.nhs.uk/Conditions/Epilepsy/Pages/Introduction.aspx">epilepsy</a></li>
            <li>takes medicine for <a href="http://www.nhs.uk/conditions/Tuberculosis/Pages/Introduction.aspx">tuberculosis (TB)</a></li>
          </ul>
        <h2 class="o-section__header above" id="how-and-when-to-give-it">
        4. How and when to give it</h2> 
          <p>Paracetamol tablets, syrup and suppositories come in a range of strengths. Children need to take a lower dose than adults, depending on their age.</p> 
          <p>If you're not sure how much to give, ask your pharmacist or doctor.</p>
          <p>Paracetamol tablets, syrup, and suppositories are available on prescription and to buy from shops and pharmacies.</p>

                {{ insetText({
                "HTML": "<p>The strength of the syrups are:</p>    
            <ul>
              <li>infant syrup - 5ml is equal to 120mg</li>
              <li>six-plus - 5ml is equal to 250mg</li>
            </ul>"
              }) }}



          <div class="nhsuk-table__panel-with-heading-tab nhsuk-u-margin-top-9">
            <h3 class="nhsuk-table__heading-tab">Paracetamol syrup dosages for children</h3>
            <h4 class="nhsuk-u-margin-bottom-2">Infant syrup </h4>
            <div class="nhsuk-table-responsive">
              <table class="nhsuk-table nhsuk-u-margin-bottom-8">
                <caption class="nhsuk-table__caption">Paracetamol infant syrup dosages for children</caption>
                <thead class="nhsuk-table__head">
                  <tr class="nhsuk-table__row">
                    <th class="nhsuk-table__header" scope="col" style="vertical-align: top;">Age</th>
                    <th class="nhsuk-table__header" scope="col" style="vertical-align: top;">How much - up to 4 times in 24 hours</th>

                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">3 to 6 months</td>
                    <td class="nhsuk-table__cell " style="vertical-align: top;"><strong>2.5ml</strong><br />
                    <img src="/images/icon-syringe-250mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"> </td>

                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">6 to 24 months</td>
                    <td class="nhsuk-table__cell " style="vertical-align: top;"><strong>5ml</strong><br />
                    <img src="/images/icon-syringe-500mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"></td>

                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">2 to 4 years</td>
                    <td class="nhsuk-table__cell " style="vertical-align: top;"><strong>7.5ml</strong> (5ml +2.5ml)<br />
                    <img src="/images/icon-syringe-500mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"><img src="/images/icon-syringe-250mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"></td>

                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">4 to 6 years</td>
                    <td class="nhsuk-table__cell " style="vertical-align: top;"><strong>10ml</strong> (5ml + 5ml)<br />
                    <img src="/images/icon-syringe-500mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"><img src="/images/icon-syringe-500mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"></td>

                  </tr>
                </tbody>
              </table>


            <h4 class="nhsuk-u-margin-bottom-2">Six Plus syrup</h4>
              <table class="nhsuk-table nhsuk-u-margin-bottom-8">
                <caption class="nhsuk-table__caption">Paracetamol Six Plus syrup dosages for children</caption>
                <thead class="nhsuk-table__head">
                  <tr class="nhsuk-table__row">
                    <th class="nhsuk-table__header" scope="col">Age</th>
                    <th class="nhsuk-table__header" scope="col" style="vertical-align: top;">How much - up to 4 times in 24 hours</th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">6 to 8 years</td>
                    <td class="nhsuk-table__cell " style="vertical-align: top;"><strong>5ml</strong><br />
                    <img src="/images/icon-syringe-500mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"></td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">8 to 10 years</td>
                    <td class="nhsuk-table__cell " style="vertical-align: top;"><strong>7.5ml</strong> (5ml +2.5ml)<br />
                    <img src="/images/icon-syringe-500mg_v2.svg" class="nhsuk-u-margin-top-3 infographic">
                    <img src="/images/icon-syringe-250mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"></td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">10 to 12 years</td>
                    <td class="nhsuk-table__cell " style="vertical-align: top;"><strong>10ml</strong> (5ml + 5ml)<br />
                    <img src="/images/icon-syringe-500mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"><img src="/images/icon-syringe-500mg_v2.svg" class="nhsuk-u-margin-top-3 infographic"></td>
                  </tr>
                </tbody>
              </table>

                  <div class="nhsuk-warning-callout nhsuk-u-margin-bottom-0">
                      <h3 class="nhsuk-warning-callout__label ">Maximum dosage</h3>
                      <p>The maximum paracetamol syrup dosages for children is 4 doses in 24 hours.</p>
                  </div>

            </div>
          </div>


          <p>Paracetamol syrup and suppositories can be given to children from 2 months if they have a fever after a vaccination injection.</p>  
          <p>Children aged between 2 and 3 months can be given 2 doses maximum if they have pain and fever from other causes. If they still have a fever after 2 doses, contact a doctor or pharmacist before giving any more.</p>    

          <div class="nhsuk-table__panel-with-heading-tab">
            <h3 class="nhsuk-table__heading-tab">Paracetamol tablet dosages for children</h3>
            <div class="nhsuk-table-responsive">
              <table class="nhsuk-table nhsuk-u-margin-bottom-8">
                <caption class="nhsuk-table__caption">Paracetamol tablet dosages for children</caption>
                <thead class="nhsuk-table__head">
                  <tr class="nhsuk-table__row">
                    <th class="nhsuk-table__header" scope="col" style="vertical-align: top;">Age</th>
                    <th class="nhsuk-table__header" scope="col" style="vertical-align: top;">How much - up to 4 times in 24 hours</th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">6 to 8 years</td>
                    <td class="nhsuk-table__cell ">
                      <strong>250mg</strong> (one half of a tablet)<br/>
                      <img src="/images/icon-tablet-250mg_v2.svg" class="nhsuk-u-margin-top-3 infographic2" style="width:120px;" >
                      </td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">8 to 10 years</td>
                    <td class="nhsuk-table__cell "><strong>375mg</strong> (three quarters of a tablet)<br/>
                    <img src="/images/icon-tablet-375mg_v2.svg" class="nhsuk-u-margin-top-3 infographic2" style="width:120px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">10 to 12 years</td>
                    <td class="nhsuk-table__cell "><strong>500mg</strong> (one full tablet)<br/>
                    <img src="/images/icon-tablet-500mg_v2.svg" class="nhsuk-u-margin-top-3 infographic2" style="width:120px;"></td>
                  </tr>
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell" style="vertical-align: top;">12 to 16 years</td>
                    <td class="nhsuk-table__cell "><strong>750mg</strong> (one full tablet + on half)<br/>
                    <img src="/images/icon-tablet-750mg_v2.svg" class="nhsuk-u-margin-top-3 infographic2" style="width:120px;"></td>
                  </tr>
                </tbody>
              </table>



                  <div class="nhsuk-warning-callout nhsuk-u-margin-bottom-0">
                      <h3 class="nhsuk-warning-callout__label ">Maximum dosage</h3>
                      <p>The maximum paracetamol syrup dosages for children is 4 doses in 24 hours.</p>
                  </div>

            </div>
          </div>




          <h3 class="above">How often to give paracetamol</h3>  
            <p>If your child needs help with pain day and night for several days, give a dose of paracetamol every 6 hours. Don't give more than 4 doses in 24 hours. This will help to relieve the pain safely without the risk of giving too much paracetamol.</p>
            <p>If your child has pain that comes and goes, give a dose of paracetamol when they first complain of pain. Wait at least 4 hours before giving another dose.</p>
            <p>Wait at least 4 hours between doses of paracetamol. Don't give your child more than 4 doses of paracetamol in 24 hours.<br></p>

          <h3 class="above">How to give paracetamol to a child</h3>  
            <h4>Tablets</h4>
              <p>Tablets should be swallowed whole with a glass of water, milk, or juice. Tell your child not to chew the tablet.</p>
              <p>Calpol Fastmelts shouldn't be swallowed - ask your child to let them dissolve on their tongue.</p>

           <h4>Syrup</h4>   
            <p>Shake the bottle well for at least 10 seconds and measure out the right amount using the plastic syringe or spoon that comes with the medicine. If you don't have a syringe or spoon, ask your pharmacist for one. Don't use a kitchen teaspoon as it will not give the right amount.</p>
            <p>To hide the taste of liquid medicine, you can give the child a drink of milk or fruit juice straight after giving the medicine.</p>

           <h4>Suppositories</h4> 
            <p>Paracetamol suppositories are small plugs of medicine that are inserted into the bottom. Follow the instructions on the leaflet inside the packet.</p>

           <h3 class="above">What if they take too much?</h3> 
            <p>Giving your child too much paracetamol by accident can be dangerous. The effects of an overdose may not be obvious, but they can be serious and need treatment.</p>
            <p>If you think you may have given your child an extra dose of paracetamol by mistake, wait at least 24 hours before giving them any more.</p>



              {{ careCard({
                "type": "urgent",
                "heading": "Get help from 111 now",
                "HTML": "<p>If your child takes more than 1 extra dose of paracetamol they may need treatment.</p>
                <p><strong>Online</strong><br /><a href='https://111.nhs.uk/?utm_source=nhsuk&amp;utm_campaign=conditions&amp;utm_content=hand_pain'>Go to 111.nhs.uk</a></p> <p><strong>Telephone</strong><br /><a href='tel:111'>Call 111</a></p><p>If you need to take your child to hospital, bring the paracetamol packaging or leaflet plus any remaining medicine with you.</p>
                
                "
              }) }}









            <p>If you need to take your child to hospital, take the paracetamol packet or leaflet inside it plus any remaining medicine with them.</p>


         <h2 class="o-section__header above" id="giving-paracetamol-with-other-painkillers">5. Giving paracetamol with other painkillers</h2>  
         
            <p>The only safe painkiller to give children alongside paracetamol is <a href="https://beta.nhs.uk/medicines/ibuprofen-for-children/">ibuprofen</a>.</p>
            <p>Do not give paracetamol and ibuprofen together, though. Instead, if you've given them paracetamol and they're still feverish or in pain when the next dose is due, you could try ibuprofen instead.</p>
            <p>Don't take more than the maximum daily dose of either medicine. See your doctor if you've tried both paracetamol and ibuprofen and they haven't helped. Do not give ibuprofen to your child if they have <a href="http://www.nhs.uk/conditions/asthma/pages/introduction.aspx">asthma</a>, unless your doctor has said it's ok.</p>
            <p>Don't give your child another medicine with paracetamol in it. If they take 2 different medicines that contain paracetamol, there's a risk of overdose. Paracetamol is an ingredient in lots of medicines that you can buy from the supermarket or pharmacy, such as Lemsip, Day and Night Nurse capsules or liquid (only suitable for children over 12 years).</p>
            <p>Never give aspirin to a child under the age of 16 (unless prescribed by a doctor).</p>

        <h2 class="o-section__header above" id="side-effects">6. Side effects</h2>    
            <p>Paracetamol rarely causes side effects if you give it in the right doses.</p>   
            <p>If <span>you're</span> worried about a side effect or notice anything unusual, talk to your pharmacist or doctor.</p>     

        <h4>Serious allergic reaction</h4>    
            <p>In rare cases, it’s possible to have a serious allergic reaction to paracetamol.</p>
            <p></p>

                            {{ careCard({
                "type": "urgent",
                "heading": "Contact a doctor straight away if:",
                "HTML": "
                <ul>
                  <li>getting a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
                  <li>wheezing</li>
                  <li>tightness in the chest or throat</li>
                  <li>having trouble breathing or talking</li>
                  <li>swelling of the mouth, face, lips, tongue, or throat</li>
                </ul>
                <p>These are the warning signs of a serious allergic reaction.</p> 
                <p>A serious allergic reaction is an emergency. Contact a doctor straight away if you think you or someone around you is having a serious allergic reaction.</p>
                "
              }) }}

              {{ insetText({
                "HTML": "<p>You can report any suspected side effect to the <a href=\"https://yellowcard.mhra.gov.uk/\" title=\"External website\">UK safety scheme</a>.</p>"
              }) }}
    </div>  

    <div class="nhsuk-grid-column-one-quarter">
    


    </div>
  </div>
{% endblock %}
